.App{
	height: 100%;
	margin:0 auto;
}

.App-header, .App-footer{
	background-color: #03A9F5;
	height: 10%;
	width: 100%;
	min-height: 50px;
	max-height: 90px;
}

.App-content{
	height: 80%;
	white-space: nowrap;
}

.App-header{
	top:0;
}


.App-footer{
	position: fixed;
	bottom: 0;
}

.App-footer-text,
.App-header-text{
	position: relative;
	font-size: 2em;
	top: 15%;
}



