.App{
	height: 100%;
}

.App-header{
	background-color: #77c9d4;
	color: white;
	height: 10%;
	position: fixed;
	top:0;
	width: 100%;
	min-height: 50px;
	max-height: 90px;
	text-align: center;
	z-index: 2;
}

.App-header-text{
	font-size: 2em;
	position: relative;
	top: 15%;
}

.App-footer{
	background-color:#77c9d4;
	color: white;
	position: fixed;
	bottom:0;
	height: 10%;
	width:100%;
	min-height: 50px;
	max-height: 90px;
	text-align: center;
	z-index: 0;
}

.App-footer-text{
	font-size: 2em;
	position: relative;
	top: 15%;

}