.App{
	height: 100%;
	margin:0 auto;
}

.App-header{
	top:0;
}

.App-footer{
	bottom:0;
}

.App-header,.App-footer{
	position:fixed;
	background-color: #ff5722;
	height: 8%;
	width: 100%;
	min-height: 50px;
	max-height: 90px;
	z-index: 10;
}

.App-header-text,.App-footer-text{
	position: relative;
	font-size: 1.8em;
	top: 15%;
}

.App-header-spacer,.App-footer-spacer{
	height: 8%;
	width: 100%;
	min-height: 50px;
	max-height: 90px;
}

.App-content{
	height: 84%;
	white-space: nowrap;
}

